{% extends "@bazar/layouts/input.twig" %}

{%- block label -%}            
    {% if field.required %}<span class="symbole_obligatoire"></span>{% endif %}
    {% if field.hint %}
        <img class="tooltip_aide" title="{{ field.hint|raw('html') }}" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" />
    {% endif %}
    {{ _t('LMS_ACTIVITY_NAVIGATION_CONDITIONS') }}         
{%- endblock -%}

{% set id = field.propertyName %}

{% block input %}
  {# Add javascript definition #}
  {{ include_javascript('tools/lms/libs/lms.js') }}
  {# Add CSS definition #}
  {{ include_css('tools/lms/presentation/styles/lms.css') }}
  {# Border #}
  <div class="activity-navigation-border">
    {# Add select #}
    <div class="activity-navigation-header">
      <select
        id="{{ id }}_select"
        name="{{ id }}_select{% if field.maxChars and field.maxChars > 1 %}[]{% endif %}"
        class="form-control activity-navigation-header-select"
        {% if field.maxChars and field.maxChars > 1 %}multiple="multiple" size="{{ field.maxChars }}"{% endif %}
        {% if field.required %}required{% endif %}>
        <option value='' selected="selected">{{ _t('BAZ_CHOISIR') }}</option>
        {% for key, option in options %}
            <option value={{ key }} {% if value == key %}selected{% endif %}>{{ option|raw }}</option>
        {% endfor %}
      </select>
      {# Add button #}
      <button id="{{ id }}_add_button"
          onclick="activity_navigation_add_button(this)"
          type="button"
          class="btn btn-success btn-icon activity-navigation-btn"
          data-id="{{ id }}">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="clearfix"></div>
    <div id="{{ id }}_container">
    </div>
  </div>
  <input type="hidden" name="{{ field.propertyName }}[new_values]" value="1">
  <input type="hidden" name="{{ field.propertyName }}[id]" value="{{ id }}">
  {# Templates for javascript #}
  <div id="{{ id }}_reaction_needed_template_container" style="display:none;" class="activity-navigation-condition-container">
    <div class="activity-navigation-condition-content">
      <input type="hidden" name="{{ field.propertyName }}[reaction_needed]" value="1" disabled>
      {{ _t('LMS_ACTIVITY_NAVIGATION_CONDITIONS_REACTION_NEEDED') }}
    </div>
  </div>
  <div id="{{ id }}_quiz_passed_template_container" style="display:none;" class="activity-navigation-condition-container">
    <div class="activity-navigation-condition-content">
      <input type="hidden" name="{{ field.propertyName }}[quiz_passed][head]" value="1" disabled>
      <div class="input-group with-text">
        <span class="item-title">{{ _t('LMS_ACTIVITY_NAVIGATION_CONDITIONS_QUIZ_PASSED') }}</span>
        <input type="text" name="{{ field.propertyName }}[quiz_passed][quizId]"
          value="" maxlength="256" placeholder="quizId {{ _t('LMS_ACTIVITY_NAVIGATION_CONDITIONS_QUIZ_EMPTY') }}" class="form-control input-xxlarge" disabled/>
      </div>
    </div>
  </div>
    <div id="{{ id }}_quiz_passed_minimum_level_template_container" style="display:none;" class="activity-navigation-condition-container">
    <div class="activity-navigation-condition-content">
      <input type="hidden" name="{{ field.propertyName }}[quiz_passed_minimum_level][head]" value="1" disabled>
      <div class="input-group with-text">
        <span class="item-title">{{ _t('LMS_ACTIVITY_NAVIGATION_CONDITIONS_QUIZ_PASSED_WITH_MINIMUM_LEVEL') }}</span>
        <input type="text" name="{{ field.propertyName }}[quiz_passed_minimum_level][quizId]"
          value="" maxlength="256" placeholder="quizId {{ _t('LMS_ACTIVITY_NAVIGATION_CONDITIONS_QUIZ_EMPTY') }}" class="form-control input-xxlarge" disabled/>
      <input type="number" name="{{ field.propertyName }}[quiz_passed_minimum_level][quiz_minimum_level]"
          value="" maxlength="256" placeholder="{{ _t('LMS_ACTIVITY_NAVIGATION_CONDITIONS_QUIZ_LEVEL') }}" class="form-control input-xxlarge" disabled/>
          <span> (%)</span>
      </div>
    </div>
  </div>
  <div id="{{ id }}_form_filled_template_container" style="display:none;" class="activity-navigation-condition-container">
    <div class="activity-navigation-condition-content">
      <input type="hidden" name="{{ field.propertyName }}[form_filled][head]" value="1" disabled>
      <div class="input-group with-text">
        <span class="item-title">{{ _t('LMS_ACTIVITY_NAVIGATION_CONDITIONS_FORM_FILLED') 
            ~ ' ' ~ _t('LMS_ACTIVITY_NAVIGATION_CONDITIONS_FORM') ~ ':'}}</span>
        <input type="text" name="{{ field.propertyName }}[form_filled][formId]"
          value="" maxlength="256" placeholder="formId" class="form-control input-xxlarge" disabled/>
      </div>
    </div>
  </div>
  <button id="{{ id }}_remove_button_template"
      onclick="activity_navigation_remove_condition(this)"
      type="button"
      class="btn btn-danger btn-icon activity-navigation-btn" style="display:none;">
    <i class="fas fa-times"></i>
  </button>
  {# Variable definition for javascripts and start definition #}
  <script>
    if (typeof activityNavigationInit === 'undefined'){
      var activityNavigationInit = [];
    }
    activityNavigationInit.push({
      id:'{{ id }}',
      value:{{ value|json_encode()|raw }}
    });
    // if function already define, run it
    if (typeof activity_navigation_init === 'function') {
      activity_navigation_init(activityNavigationInit);
    }
  </script>
{% endblock %}
