{% block course_menu %}
    {% for currentModule in modulesDisplayed %}
        <div class="panel-group panel-group-menu-lms" role="tablist">
            <div class="panel panel-primary panel-menu-lms status-{{ currentModule.status(course) }}">
                <div class="panel-heading {% if currentModule.tag == pageTag %} active{% endif %}">
                    <h4 class="panel-title">
                        <a href="{{ url({ tag: currentModule.tag, params: {'course': course.tag}}) }}"
                           class="bazar-entry">{{ currentModule.fields.bf_titre }}</a>
                    </h4>
                </div>
                {% if currentModule.tag == module.tag and currentModule.isAccessibleBy(learner, course) %}
                    <div class="panel-collapse">
                        <ul class="list-group">
                            {% for activity in currentModule.activities %}
                                <li class="list-group-item{% if activity.tag == pageTag %} active{% endif %}">
                                    <a href="{{ url({ tag: activity.tag, params: {'course': course.tag,
                                        'module': currentModule.tag} }) }}">{{ activity.fields.bf_titre }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}