{{ include_javascript('tools/bazar/libs/bazar.js') }}

<h3>{{ _t('LMS_EXTRA_ACTIVITY_ADD') }}</h3>
<form action="{{ url({tag:''}) }}"
    method="POST" name="formulaire" id="formulaire" enctype="multipart/form-data" class="form-horizontal">
    {{ include('@bazar/inputs/text.twig',{'field': {
        'name':'title',
        'maxChars':'256',
        'required':true,
        'type':'text',
        'label':  _t('LMS_EXTRA_ACTIVITY_TITLE')
        },
        'value':extraActivity.title}) }}
    {{ include('@bazar/inputs/text.twig', {'field': {
        'name':'relatedLink',
        'maxChars':'256',
        'required':false,        
        'type':'url',
        'label':  _t('LMS_EXTRA_ACTIVITY_RELATED_LINK')
        },
        'value':extraActivity.relatedLink}) }}
    {{ include_javascript('tools/bazar/libs/vendor/bootstrap-datepicker.js')}}
    {{ include('@bazar/inputs/date.twig', {'field': {
            'name':'bf_date_debut_evenement',
            'required':true,
            'label':  _t('LMS_EXTRA_ACTIVITY_BEGIN_DATE')
            },        
        'day': (extraActivity ? extraActivity.date:date())|date("Y-m-d"),
        'hour': extraActivity ? extraActivity.date|date("H"):12,
        'minute': extraActivity ? extraActivity.date|date("i"):0,
        'hasTime':true
        }) }}
    {{ include('@bazar/inputs/date.twig', {'field': {
            'name':'bf_date_fin_evenement',
            'required':true,
            'label':  _t('LMS_EXTRA_ACTIVITY_END_DATE')
            },        
        'day': (extraActivity ? extraActivity.endDate:date())|date("Y-m-d"),
        'hour': extraActivity ? extraActivity.endDate|date("H"):14,
        'minute': extraActivity ? extraActivity.endDate|date("i"):0,
        'hasTime':true
        }) }}
    {{ include('@bazar/fields/text.twig',{'field': {
        'name':'course',
        'type':'text',
        'label':  _t('LMS_EXTRA_ACTIVITY_ASSOCIATED_COURSE')
        },
        'value': course.title}) }}
    <input type="hidden" id="course" name="course" value="{{ course.tag }}">
    {{ include('@bazar/inputs/select.twig', {'field': {
            'name':'module',
            'propertyName':'module',
            'required':false,
            'label':  _t('LMS_EXTRA_ACTIVITY_ASSOCIATED_MODULE')
            },        
        'value': module,
        'options': modules
        }) }}
    {{ include('@bazar/inputs/checkbox_drag_and_drop.twig', {'field': {
            'name':'registeredLearnerNames',
            'propertyName':'registeredLearnerNames',
            'required':false,
            'label':  _t('LMS_EXTRA_ACTIVITY_REGISTERED_LEARNERS')
            },        
        'value': module,
        'options': learners,
        'selectedOptionsId': extraActivity.registeredLearnerNames,
        'formName': _t('LMS_EXTRA_ACTIVITY_LEARNERS'),
        'name': _t('BAZ_DRAG_n_DROP_CHECKBOX_LIST') ~ _t('LMS_EXTRA_ACTIVITY_D') ~ _t('LMS_EXTRA_ACTIVITY_REGISTERED_LEARNERS')
        }) }}
    <input type="hidden" id="tag" name="tag" value="{{ extraActivity.tag }}">
    <input type="hidden" id="mode" name="mode" value="save">
    <div class="form-actions form-group">
        <div class="col-sm-9 col-sm-offset-3">
        <button type="submit" class="btn btn-primary">{{ _t('BAZ_VALIDER') }}</button>
        </div>
    </div>
</form>
{{ include('@lms/extra-activity-backlink.twig',{course:course.tag}) }}
