<div>
    {{ message|raw }}
    <a href="{{ url({params: {
        mode: mode,
        course: course,
        module: module,
        tag:tag,
        learner: learner,
        confirm:'yes'} }) }}"
      class="btn btn-danger btn-sm">
      {{ _t('LMS_YES') }}
    </a>
    <a href="{{ url({params: {
        course: course,
        module: module} }) }}"
      class="btn btn-primary btn-sm" >
      {{ _t('LMS_NO') }}
    </a>
</div>