{% if extraActivityMode %}
    {% set mode = (mode ?? 'add') %}
    {% if mode == 'add' %}
        <a class="btn btn-primary btn-xs" data-size="modal-lg" title="{{ _t('LMS_EXTRA_ACTIVITY_ADD') }}"
            href="{{ url({tag: '',
                    params:{course:course, 
                        module:module, 
                        mode:mode
                        }
                    }) }}">
            <i class="fas fa-plus"></i> {{ _t('LMS_EXTRA_ACTIVITY_ADD') }}
        </a>
    {% elseif mode == 'add-light' %}
        <a class="btn btn-primary btn-xs" data-size="modal-lg" title="{{ _t('LMS_EXTRA_ACTIVITY_ADD') }}"
            href="{{ url({tag: '',
                    params:{course:course, 
                        module:module, 
                        mode:'add'
                        }
                    }) }}">
            <i class="fas fa-plus"></i>
        </a>
    {% elseif mode == 'edit' %}
        <a class="btn btn-default btn-xs no-collapsable" data-size="modal-lg" title="{{ _t('LMS_EXTRA_ACTIVITY_EDIT') }}"
            href="{{ url({tag: '',
                    params:{course:course, 
                        module:module,
                        extraactivityid:extraActivityId, 
                        mode:mode
                        }
                    }) }}">
            <i class="fas fa-edit"></i>
        </a>
    {% elseif mode == 'remove' %}
        <a class="btn btn-default btn-xs modalbox" data-size="modal-lg" title="{{ _t('LMS_EXTRA_ACTIVITY_REMOVE') }}"
            href="{{ url({tag: '',
                    params:{extraactivityid:extraActivityId, 
                        mode:mode,
                        extraactivitylearner:learnerName
                        }
                    }) }}">
            <i class="fas fa-user-minus"></i>
        </a>
    {% elseif mode == 'delete' %}
        <a class="btn btn-default btn-xs modalbox" data-size="modal-lg" title="{{ _t('LMS_EXTRA_ACTIVITY_DELETE') }}"
            href="{{ url({tag: '',
                    params:{extraactivityid:extraActivityId, 
                        mode:mode,
                        course:course, 
                        module:module
                        }
                    }) }}">
            <i class="fas fa-trash-alt"></i>
        </a>
    {% endif  %}
{% endif  %}