{% from "@lms/datetime-macros.twig" import displayTime %}
<div class="panel panel-lms-dashboard dashboard-module-frame collapsed">
    <div id="heading_{{ course.tag ~ '_' ~ module.tag }}" class="panel-heading collapsed" role="tab button" data-toggle="collapse"
         href="#collapse_{{ course.tag ~ '_' ~ module.tag }}" aria-expanded="false" aria-controls="collapse_{{ course.tag ~ '_' ~ module.tag }}">
        <div class="panel-title">
            <i class="fa fa-chevron-up"></i><i class="fa fa-chevron-down"></i>
            {{ module.title }}
            {% if modulesStat[module.tag].started %}
                <a class="btn btn-default btn-xs modalbox" data-size="modal-lg" title="{{ _t('LMS_MODULE_PREVIEW') ~ " " ~ module.title|e }}"
                href="{{ url({tag: module.tag}) }}">
                    <i class="fas fa-eye"></i>
                </a>
            {% else %}
                <div class="btn btn-default btn-xs"
                 title="{{ _t('LMS_MODULE_PREVIEW_NOT_POSSIBLE')  ~ module.title|e }}">
                    <i class="fas fa-eye-slash"></i>
                </div>
            {% endif %}
        </div>
        <div class="finished-ratio">
            <span title="{{ _t('LMS_DASHBOARD_PROGRESS') }}">
                <span class="label-icon"><i class="fas fa-tasks"></i></span>
                {% if not modulesStat[module.tag].progressRatio or modulesStat[module.tag].progressRatio == 0 %}
                    {{ modulesStat[module.tag].started ? _t('LMS_DASHBOARD_IN_COURSE') : '----'}}
                {% else %}
                    {{ modulesStat[module.tag].progressRatio }} %
                {% endif %}
            </span>
        </div>
        {% if (modulesStat[module.tag].elapsedTime and not use_only_custom_elapsed_time) or modulesStat[module.tag].finished %}
            <div class="estimated-time">
            <span title="{{ _t('LMS_DASHBOARD_ELAPSEDTIME') }}">
                <span class="label-icon"><i class="fas fa-hourglass-half fa-fw"></i></span>
                {% if modulesStat[module.tag].elapsedTime %}
                    {{ displayTime(modulesStat[module.tag].elapsedTime) }}
                {% else %}
                    ----
                {% endif %}
                {% if modulesStat[module.tag].finished %}
                    <a class="btn btn-xs btn-default no-collapsable"
                    href="{{ url({tag:'',
                                    handler:'UpdateElapsedTime',
                                    params:{learner: learner.username, course: course.tag, module: module.tag, previousparams: previousparamskeys}}) }}"
                    title="{{ _t('LMS_UPDATE_ELAPSED_TIME_UPDATE') }}">
                    <i class="fa fa-edit"></i></a>
                {% endif %}
            </span> 
            </div>
        {% endif %}
        {% set dateTime = modulesStat[module.tag].firstAccessDate %}
        {{ include('@lms/learner-dashboard-date.twig') }}
    </div>
    <div id="collapse_{{ course.tag ~ '_' ~ module.tag }}" class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="heading_{{ course.tag ~ '_' ~ module.tag }}" aria-expanded="false">
        <div>
            <h4 class="dashboard-activity">{{ module.activities|length == 0 ?  _t('LMS_NO_ACTIVITY')  : _t('LMS_ACTIVITIES')}}</h3>
            {% for activity in module.activities %}
                {% set activitiesStat =  modulesStat[module.tag].activitiesStat %}
                {{ include('@lms/learner-dashboard-activity.twig') }}
            {% endfor %}
            {% if module.extraActivityLogs|length > 0 %}
                <h4 class="dashboard-activity">{{ _t('LMS_EXTRA_ACTIVITIES')}}</h4>
                {% for extraActivityLog in module.extraActivityLogs %}
                    {{ include('@lms/learner-dashboard-extra-activity.twig',{level:'activity'}) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>