{% from "@lms/datetime-macros.twig" import displayTime,displayDate %}
{% set level = (level ?? 'activity') %}
<div class="panel panel-lms-dashboard dashboard-{{ level }}-frame">
  <div class="panel-heading">
    <div class="panel-title">
        {% if extraActivity.relatedLink %}            
            <a class="no-collapsable" href="
            {{- (extraActivity.relatedLink starts with 'http')
                    ? extraActivity.relatedLink
                    : url({tag: extraActivity.relatedLink})
            -}}"
            title="{{ _t('LMS_EXTRA_ACTIVITY_LINK') }}">
                {{ extraActivity.title }}
            </a>
        {% else %}
            {{ extraActivity.title }}
        {% endif %}
        {% if user_is_admin %}
            {{ extraActivityMode ? include('@lms/extra-activity-link.twig', {mode:'remove',learner:learner.username}) }}
        {% endif %}
                                    
    </div>
    <div class="estimated-time">
      <span title="{{ _t('LMS_DASHBOARD_ELAPSEDTIME') }}">
        <span class="label-icon"><i class="fas fa-hourglass-half fa-fw"></i></span>
          {% if extraActivity.elapsedTime %}
            {{ displayTime(extraActivity.elapsedTime) }}
          {% else %}
              ----
          {% endif %}
      </span> 
    </div>
    <div class="first-access">
        <span title="{{ _t('LMS_EXTRA_ACTIVITY_DATE') }}">
            <span class="label-icon"><i class="fas fa-calendar-alt"></i></span>
            {{ displayDate(extraActivity.date) }}
        </span>
    </div>
  </div>
</div>