{{ include_javascript('tools/bazar/libs/bazar.js') }}

<h3 class="titre_type_fiche">{{ _t('LMS_DASHBOARD_SELECT_USER_TITLE') }}</h3>
<form action="{{ url({tag:''}) }}" method="post" name="formulaire" id="formulaire" enctype="multipart/form-data" class="form-horizontal">
  <select id="learner" name="learner" class="form-control">
        <option value='' selected="selected">{{ _t('BAZ_CHOISIR') }}</option>
        {% for user in usersList %}
            <option value={{ user.tag }}>{{ user.fullname }}</option>
        {% endfor %}
  </select>
  <div class="form-actions form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <button type="submit" class="btn btn-primary">{{ _t('BAZ_VALIDER') }}</button>
      <a class="btn btn-xs btn-default" onclick="javascript:history.back()">{{ _t('BAZ_ANNULER') }}</a>
    </div>
  </div>
</form>
