<a href="{{ url({tag:'',handler:'ExportDashboardCSv',params:{user:userName}}) }}" class="btn btn-primary pull-right">
<i class="fas fa-download"></i>{{ _t('LMS_DASHBOARD_EXPORT_TO_CSV') }}</a>
<h1 class="dashboard-title">{{ _t('LMS_DASHBOARD') }}{{ userName }}</h1>

<h2 class="dashboard-course">{{ _t('LMS_COURSE') }}</h2>
{% for course in courses %}
  <div class="dashboard-summary dashboard-course-frame">
      <div class="summary-title">{{ course.title }}
          <a class="btn btn-default btn-xs modalbox" data-size="modal-lg" title="{{ _t('LMS_COURSE_PREVIEW') ~ " " ~ course.title|e }}"
            href="{{ url({tag: course.tag}) }}">
              <i class="fas fa-eye"></i>
          </a>
      </div>
      <div class="finished-ratio">
          <span title="{{ _t('LMS_DASHBOARD_PROGRESS') }}">
            <span class="label-icon"><i class="fa fa-tasks"></i></span>
            {% if not coursesStat[course.tag].progressRatio or coursesStat[course.tag].progressRatio == 0 %}
              {{ coursesStat[course.tag].started ? _t('LMS_DASHBOARD_IN_COURSE') : '----'}}
            {% else %}
              {{ coursesStat[course.tag].progressRatio }} %
            {% endif %}
          </span>
      </div>
      {% if coursesStat[course.tag].elapsedTime %}
        <div class="estimated-time">
          <span title="{{ _t('LMS_DASHBOARD_ELAPSEDTIME') }}">
            <span class="label-icon"><i class="fas fa-hourglass-half fa-fw"></i></span>
                {{ _self.displayTime(coursesStat[course.tag].elapsedTime) }}
          </span> 
        </div>
      {% endif %}
      {{ _self.displayDate(coursesStat[course.tag].firstAccessDate)}}
  </div>

  <h3 class="dashboard-module">{{ _t('LMS_MODULES')}}</h3>
  {% for module in course.modules %}
      {% set modulesStat =  coursesStat[course.tag].modulesStat %}
      {{ include('@lms/learner-dashboard-module.twig') }}
  {% endfor %}
{% endfor %}
<div class="panel panel-lms-dashboard dashboard-legend-frame">
 <div class="panel-heading">
  <div class="summary-title">
    {{ _t('LMS_DASHBOARD_LEGEND') }}       
  </div>
  <div class="finished-ratio">
    <span title="{{ _t('LMS_DASHBOARD_PROGRESS') }}">
      <span class="label-icon"><i class="fa fa-tasks"></i></span>
      {{ _t('LMS_DASHBOARD_PROGRESS') }}
    </span>
  </div>
  <div class="estimated-time">
    <span title="{{ _t('LMS_DASHBOARD_ELAPSEDTIME') }}">
      <span class="label-icon"><i class="fas fa-hourglass-half fa-fw"></i></span>
      {{ _t('LMS_DASHBOARD_ELAPSEDTIME') }}
    </span> 
  </div>
   <div class="first-access">
    <span title="{{ _t('LMS_DASHBOARD_FIRSTACCESS') }}">
      <span class="label-icon"><i class="fas fa-calendar-alt"></i></span>
      {{ _t('LMS_DASHBOARD_FIRSTACCESS') }}
    </span>
  </div>
 </div>
</div>
{{ include_css('tools/lms/presentation/styles/lms.css') }}

{% macro displayTime(dateInterval) %}
  {% if dateInterval.h > 0 or dateInterval.d > 0 or dateInterval.i > 60 %}
      {{ dateInterval.format('%h h %I min.') }}
  {% else %}
      {{ dateInterval.format('%i min.') }}
  {% endif %}
{% endmacro %}
{% macro displayDate(dateTime) %}
  {% if dateTime %}
    <div class="first-access">
      <span title="{{ _t('LMS_DASHBOARD_FIRSTACCESS') }}">
        <span class="label-icon"><i class="fas fa-calendar-alt"></i></span>
        {{ dateTime.isoFormat('LLLL')}}
      </span>
    </div>
  {% endif %}
{% endmacro %}