<div class="panel panel-lms-dashboard dashboard-activity-frame collapsed">
    <div id="heading_{{ activity.tag }}" class="panel-heading collapsed" role="tab button" data-toggle="collapse"
         href="#collapse_{{ activity.tag }}" aria-expanded="false" aria-controls="collapse_{{ activity.tag }}">
        <div class="panel-title">
            <i class="fa fa-chevron-up"></i><i class="fa fa-chevron-down"></i>
            {{ activity.title }}
            <a class="btn btn-default btn-xs modalbox" data-size="modal-lg" title="{{ _t('LMS_ACTIVITY_PREVIEW') }}"
               href="{{ url({tag: activity.tag}) }}">
                <i class="fas fa-eye"></i>
            </a>
        </div>
        <div class="finished-ratio">
            <span class="label-icon"><i class="far fa-check-circle"></i></span> {{ activitiesStat[activity.tag].finished | length }} / {{ userEntries | length }}
        </div>
        <div class="estimated-time">
            <span class="label-icon"><i class="fas fa-hourglass-half fa-fw"></i> est.</span>{{ courseController.formatDuration(activity.duration) }}
        </div>
    </div>
    <div id="collapse_{{ activity.tag }}" class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="heading_{{ activity.tag }}" aria-expanded="false">
        <div class="learners-groups emulated-flex-gap">
            <div class="learners-group fieldset-group dashboard-activity-frame">
                <label><i class="fas fa-check-circle"></i></label>
                    <ul class="learner-details">
                        {% for username in activitiesStat[activity.tag].finished %}
                            <li><a href="{{ url({tag: username}) }}">{{ userEntries[username].bf_titre }}</a></li>
                        {%  endfor %}
                    </ul>
            </div>
            <div class="learners-group fieldset-group dashboard-activity-frame">
                <label><i class="fas fa-times-circle"></i></label>
                    <ul class="learner-details">
                        {% for username in activitiesStat[activity.tag].notFinished %}
                            <li><a href="{{ url({tag: username}) }}">{{ userEntries[username].bf_titre }}</a></li>
                        {%  endfor %}
                    </ul>
            </div>
        </div>
    </div>
</div>