{% from "@lms/datetime-macros.twig" import displayTime %}
<div class="panel panel-lms-dashboard dashboard-activity-frame collapsed">
    <div id="heading_{{ activity.tag }}" class="panel-heading collapsed" role="tab button" data-toggle="collapse"
         href="#collapse_{{ activity.tag }}" aria-expanded="false" aria-controls="collapse_{{ activity.tag }}">
        <div class="panel-title">
            <i class="fa fa-chevron-up"></i><i class="fa fa-chevron-down"></i>
            {{ activity.title }}
            <a class="btn btn-default btn-xs modalbox" data-size="modal-lg" title="{{ _t('LMS_ACTIVITY_PREVIEW') }}"
               href="{{ url({tag: activity.tag,params: {course: course.tag,module:module.tag}}) }}">
                <i class="fas fa-eye"></i>
            </a>
            {% if activitiesStat[activity.tag].hasQuizResults %}
                <a class="btn btn-default btn-xs modalbox" data-iframe="1" data-size="modal-lg" title="{{ _t('LMS_QUIZ_RESULTS_TITLE') }}"
                href="{{ url({handler:'render',params:{content:"{{quizresults}}",
                        course:course.tag,module:module.tag,activity:activity.tag,onlybest:true,noadmins:true}}) }}">
                    <i class="fas fa-poll"></i>
                </a>
            {% endif %}
        </div>
        <div class="finished-ratio">
            <span title="{{ _t('LMS_FINISHED_RATIO') }}">
                <span class="label-icon"><i class="fas fa-user-check"></i></span>
                {{ activitiesStat[activity.tag].finished | length }} / {{ learners | length }}
            </span>
        </div>
        <div class="estimated-time">
            <span title="{{ _t('LMS_ESTIMATED_TIME_DETAILLED') }}">
                <span class="label-icon"><i class="fas fa-hourglass-half fa-fw"></i> est.</span>
                {{ displayTime(activity.duration) }}
            </span>
        </div>
    </div>
    <div id="collapse_{{ activity.tag }}" class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="heading_{{ activity.tag }}" aria-expanded="false">
        <div class="learners-groups emulated-flex-gap">
            <div class="learners-group fieldset-group dashboard-activity-frame">
                <label><i class="fas fa-user-check"></i></label>
                    <ul class="learner-details">
                        {% for username in activitiesStat[activity.tag].finished %}
                            <li>
                                {{ include('@lms/progress-dashboard-user.twig') }}
                            </li>
                        {%  endfor %}
                    </ul>
            </div>
            <div class="learners-group fieldset-group dashboard-activity-frame">
                <label><i class="fas fa-user-times"></i></label>
                    <ul class="learner-details">
                        {% for username in activitiesStat[activity.tag].notFinished %}
                            <li>
                                {{ include('@lms/progress-dashboard-user.twig') }}
                            </li>
                        {%  endfor %}
                    </ul>
            </div>
        </div>
    </div>
</div>