{{ include_javascript('tools/templates/libs/vendor/datatables/dataTables.bootstrap.min.js') }}
{{ include_javascript('tools/templates/libs/vendor/datatables/jquery.dataTables.min.js') }}
{{ include_css('tools/templates/libs/vendor/datatables/dataTables.bootstrap.min.css') }}

<h3>{{ _t('LMS_QUIZ_RESULTS_TITLE') }}</h3>

<div class="table-responsive">
  <table id="existing-forms-table" class="bazar-table table table-condensed table-striped">
    <thead>
      <tr>
        <th>{{ _t('LMS_COURSE') }}</th>
        <th style="width:100px;">{{ _t('LMS_MODULE') }}</th>
        <th style="width:100px;">{{ _t('LMS_ACTIVITY') }}</th>
        <th style="width:40px;">{{ _t('LMS_QUIZID') }}</th>
        <th style="width:100px;">{{ _t('LMS_EXTRA_ACTIVITY_LEARNERS') }}</th>
        <th style="width:220px;">{{ _t('LMS_EXTRA_ACTIVITY_DATE') }}</th>
        <th style="width:40px;">{{ _t('LMS_QUIZ_RESULTS') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for key, result in results %}
        <tr>
          <td>{{ result.course }}</td>
          <td>{{ result.module }}</td>
          <td>{{ result.activity }}</td>
          <td>{{ result.quizId }}</td>
          <td>{{ result.learner }}</td>
          <td>{{ result.log_time }}</td>
          <td>{{ result.result ?? 0 }} %</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div> <!-- /.table-responsive -->